*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
width: 100%;
height: 100%;
background-size: cover;
background-position: center;
}

.banner #particles-js{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.90),rgba(0,0,0,0.75)),url(background.jfif);background-size: cover;

    }

.navbar {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between; 
    background-color: rgb(22, 22, 22);   
    
}

.logo {
    width: 120px;
    cursor: pointer;
    border-radius: 40px;
}

.navbar ul li {
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position:relative;
    
}

.navbar ul li a{
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-family: Arsenal SC;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #F9D933;;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFF;
}

.content h1 {
    font-size: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: quicksand;
}

.content p {
    font-size: 23px ;
    font-weight: 100;
    font-family: quicksand;
    
}

.sobre {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    padding: 2%;
    color: #FFF;
    font-family: quicksand;
}

.titulosobre {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 30px;
}

.sobre h1 {
    font-size: 60px;
    color: #FFF;
    font-family: quicksand;
}

.conteudosobre {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card1 {
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4ox 8px 0 rgba(0,0,0,0.2);
    font-size: 15px;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.card1 p {
    text-align: justify;
    margin-top: 30px;
    font-family: quicksand;
    color: rgb(207, 207, 207);
    }

    .missaoimg{
        width: 160px;
        margin-bottom: 30px;
    }

.card2 {
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4ox 8px 0 rgba(0,0,0,0.2);
    font-size: 15px;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card2 p {
text-align: justify;
margin-top: 30px;
font-family: quicksand;
color: rgb(207, 207, 207);

}

.compromissoimg{
    width: 160px;
}

.tituloidvisual {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 30px;
}

.tituloidvisual h1{
    font-size: 50px;
    color: #FFF;
    font-family: quicksand;
}

.conteudoidvisual {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-idvisual p {
    text-align: center;
    font-size: 20px;
}


.cards {
    display: flex;
    justify-content: center;
    width: 1000px;
    
}
.cards h2 {
    color: black;
    font-family: quicksand;
}
.cards p {
    color: black;
    font-family: quicksand;
}

.info1 {
    margin: 30px;
    border-radius: 10px;
    background-color: #F9D933;;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.info1 img{
    border-radius: 40px;
    width: 200px;
}

.info1 h2{
    margin-top: 20px;
}

.info2 {
    margin: 30px;
    border-radius: 10px;
    background-color: #F9D933;;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.info2 img{
    border-radius: 40px;
    width: 200px;
    background-color: #FFF;
}

.info2 h2{
    margin-top: 20px;
}

.info3 {
    margin: 30px;
    border-radius: 10px;
    background-color: #F9D933;;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.info3 img{
    border-radius: 40px;
    width: 200px;
    height: 200px;
}

.info3 h2{
    margin-top: 20px;
}

.info1 h2 {
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.info2 h2 {
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.info3 h2 {
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 20px;
}


.p-idvisual {
 display: flex;
 font-size: 18px;
 justify-content: center;
 align-items: center;
 margin: 20px;
 padding: 20px;
 font-family: quicksand;
 color: rgb(207, 207, 207);
}

.p-idvisual h2 p {
    font-family: quicksand;
}

/**  -------------- (sessão 3) gerenciamento de redes sociais --------------   **/

.sessao3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
}

.gerenciamento-redes-sociais {
    justify-content: center;
    align-items: center;
}

.titulo-g-sociais h2{
    display: flex;
    justify-content: center;
    color: #FFF;
    margin: 40px;
    font-size: 50px;
    font-family: quicksand;
}

.gerenciamento-redes-sociais p {
    margin-bottom: 20px;
}

.texto-g-sociais{
    display: flex;
    padding: 5px;
    margin: auto;
}

.texto-g-sociais {
    flex-direction:column;
    width: 80%;
}

.textos-g { 
    display: flex;
    flex-direction: row;
    padding:30px;
    align-items: center;
    margin: 20px;
    background-color: #181818;
    box-shadow: 0px 0px 8px 6px #eeedea70;
    border-radius: 10px;
    padding: 10px;
    
}

.textos-g  h1, p{
    color: rgb(214, 214, 214);
    margin-left: 5px;
}

.textos-g  p{
    width: 50%;
    text-align: center;
}

.textos-g  h1{
    font-size: 24px;
    text-align: center;
}

.textos-g  img{
   height: 110px;
   margin-bottom:20px;
   margin-right: 20px;
   margin-left: 20px;
}


.p-idvisual2 {
    display: flex;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: quicksand;
    color: rgb(207, 207, 207);
   }
   
   .p-idvisual2 h2 p {
       font-family: quicksand;
   }


/** --------------------     Trafego Pago   -----------------------  **/

   .sessao4 {
    background-color: rgb(37, 37, 37);
   }

   .tituloidvisual3 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px;
}

.tituloidvisual3 h1{
    font-size: 50px;
    color: #FFF;
    font-family: quicksand;
}

.conteudoidvisual3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-idvisual3 p {
    text-align: center;
    font-size: 20px;
}

   .card1 {
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4ox 8px 0 rgba(0,0,0,0.2);
    font-size: 15px;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.card1 p {
    text-align: justify;
    margin-top: 30px;
    font-family: quicksand;
    color: rgb(207, 207, 207);
    }


.card2 {
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4ox 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 15px;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card2 p {
text-align: justify;
margin-top: 30px;
font-family: quicksand;
color: rgb(207, 207, 207);

}

.tituloidvisual h1{
    font-size: 50px;
    color: #FFF;
    font-family: quicksand;
}

.conteudoidvisual3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
}


.info1-trafego {
    margin: 30px;
    border-radius: 10px;
    background-color: #181818;
    box-shadow: -5px 6px 8px 3px #f9d83370;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    padding: 30px;
    text-align: center;
}


.info1-trafego h2{
    margin-top: 20px;
    color: #FFF;
}

.info1-trafego p{
    color: #FFF;
}

.info2-trafego {
    margin: 30px;
    border-radius: 10px;
    background-color: #181818;
    box-shadow: -5px 6px 8px 3px #f9d83370;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    padding: 30px;
    text-align: center;
}


.info2-trafego h2{
    margin-top: 20px;
    color: #FFF;
}

.info2-trafego p{
    color: #FFF;
}

.info3-trafego {
    margin: 30px;
    border-radius: 10px;
    background-color: #181818;
    box-shadow: -5px 6px 8px 3px #f9d83370;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.info3-trafego h2{
    margin-top: 20px;
    color: #FFF;
}

.info3-trafego p{
    color: #FFF;
}

.info1-trafego h2 {
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.info2-trafego h2 {
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.info3-trafego h2 {
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.cards-trafego {
    display: flex;
    justify-content: center;
    width: 1200px;
    
}


/** --------------------     Desenvolvimento de sites    -----------------------  **/


.tituloDev {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding-top: 30px;
}
.sobreDev {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    padding: 2%;
    color: #FFF;
    font-family: quicksand;
}

.sobreDev h1 {
    font-size: 40px;
    color: #FFF;
    font-family: quicksand;
}

.conteudosobreDev {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.conteudosobreDev p{
    font-size: 18px;
}

.numerosimg{
    width: 50px;
    margin-bottom: 30px;
    border-radius: 2px;
}

.devImg {
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0px #ffffff9a;
}

.carddev1 {
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4ox 8px 0 rgba(0,0,0,0.2);
    font-size: 15px;
    padding: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.carddev1 p {
    text-align: justify;
    margin-top: 30px;
    font-family: quicksand;
    color: rgb(207, 207, 207);
    }


.carddev2 {
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4ox 8px 0 rgba(0,0,0,0.2);
    font-size: 15px;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carddev2 p {
    text-align: center;
    font-family: quicksand;
    color: rgb(253, 253, 253);
    font-size: 20px;
}


/** ---------------  Implementação de Ferramentas de Automação ---------------**/


.sessao6{
background-color: #181818;
background-size: 100%;
}

.tituloautomacao {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.tituloautomacao h1{
    font-size: 50px;
    color: #FFF;
    font-family: quicksand;
    margin: 5% 15% 0% 15%;
    text-align: center;

}

.conteudoautomacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-automacao p {
    text-align: center;
    font-size: 20px;
    margin: 3% 15% 3% 15%;
}


.cardsautomacao {
    display: flex;
    flex-direction: column;
    
}
.cardsautomacao h2 {
    color: black;
    font-family: quicksand;
}
.cardsautomacao p {
    color: black;
    font-family: quicksand;
}

.info1automacao {
    margin: 0% 15% 0% 15%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: justify;
    align-items: center;
}

.info1automacao-image{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.info1automacao-text {
    padding: 10px;
}

.info1automacao img{
    border-radius: 40px;
    width: 70px;
    margin-right: 40px;
    margin-left: 40px;
    justify-content: justify;
    align-items: center;
}

.info1automacao h2{
    margin-top: 20px;
    color: white;
}

.info1automacao p{
    color: white;
}


.info1automacao h2 {
    margin-bottom: 15px;
    margin-bottom: 20px;
}


.p-automacao h2 p {
    font-family: quicksand;
    color: rgb(207, 207, 207);
}

/**----------------- media queries -----------------**/


@media screen and (max-width: 768px) {

 

    .content h1 {
        font-size: 40px;
        
    }

    .content p {
        font-size: 16px;
        margin-bottom: 170px;
        
    }

    .titulosobre h1{
        font-size: 40px;
    }

    .missaoimg{
        width: 100px;
        margin-left: 30px;
    }

    .compromissoimg {
        width: 100px;
        margin-bottom: 6px;
    }

    .card1 {
        width: 60%;
        padding: 30px;
    }
    .card1 h2{
        font-size: 23px;
    }
 
    .card2 {
        width: 60%;
        padding: 30px;
    }

    .card2 h2{
        font-size: 23px;
    }

    .tituloidvisual h1{
        font-size: 40px;

    }

    .p-idvisual p{
        font-size: 17px;
    }

    .cards {
        flex-direction: column;
        width: 400px;
    }

    .titulo-g-sociais h2 {
        font-size: 40px;
        text-align: center;
    }

    .gerenciamento-redes-sociais p {
        font-size: 17px;
        
    }

    .texto-g-sociais {
        flex-direction:column;
        width: 70%;
    }

    .textos-g { 
        margin: 10px;
        background-color: #181818;
        box-shadow: 0px 0px 8px 6px #eeedea70;
        border-radius: 10px;
        padding: 10px;
        flex-direction: column;
        
    }
    .textos-g img{ 
        height: 100px;
    }

    .texto-g-sociais h1 {
        font-size: 18px;
    }
    .texto-g-sociais img {
        font-size: 18px;
    }

    .cards-trafego {
        flex-direction: column;
        width: 70%;
    }
    

    .tituloidvisual3 h1{
        font-size: 40px;
    }

    .sessao4 p {
        font-size: 18px;
        margin: auto;
    }

    .tituloDev h1 {
        font-size: 40px;
    }

.conteudosobreDev {
    flex-direction: column-reverse;
    margin-bottom: 50px;
}

.carddev1 {
    padding: 0;
}

.carddev1 img {
    margin-top: 30px;
}

.carddev1 p {
    margin:0px;
}

.tituloautomacao h1{
font-size: 40px;
}

.sessao6 p{
    font-size: 17px;
}

.banner #particles-js{
    height:600px;
    }


}