* { 
    box-sizing: border-box;
}

body {
    margin: 50px;
}

h2 {
    font-size: 30px;
}

label {
    display: block;
}

input[type=text], textarea, select{
    margin-top: 5px;
    padding: 5px;
    width: 300px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 2%;
    
}

textarea {
    resize: none;
    height: 200px;
}