*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
width: 100%;
height: 100%;
background-size: cover;
background-position: center;
}

.banner #particles-js{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: cover;
    background-image: linear-gradient(rgba(0,0,0,0.90),rgba(0,0,0,0.75)),url(background.jfif);background-size: cover;
    background-position: center;
    }

.navbar {
    width: 100%;
    margin: auto;
    padding: 0 -10px 5px -20px;
    display: flex;
    align-items: center;
    justify-content:space-between; 
    background-color: rgb(22, 22, 22);   
    margin-right: 100px;
}

.logo {
    width: 120px;
    cursor: pointer;
    border-radius: 40px;
}

.navbar ul li {
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position:relative;
    
}

.navbar ul li a{
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-family: Arsenal SC;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(252, 252, 36);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFF;
}

.content h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: quicksand;
}

.content p {
    font-size: 23px ;
    font-weight: 100;
    font-family: quicksand;
    
}

.sobre {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    padding: 2%;
    color: #FFF;
    font-family: quicksand;
}

.titulosobre {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 30px;
}

.sobre h1 {
    font-size: 60px;
    color: #FFF;
    font-family: quicksand;
}

.conteudosobre {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card1 {
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4ox 8px 0 rgba(0,0,0,0.2);
    font-size: 15px;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.card1 p {
    text-align: justify;
    margin-top: 30px;
    font-family: quicksand;
    color: rgb(207, 207, 207);
    }

    .missaoimg{
        width: 160px;
        margin-bottom: 30px;
    }

.card2 {
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4ox 8px 0 rgba(0,0,0,0.2);
    font-size: 15px;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card2 p {
text-align: justify;
margin-top: 30px;
font-family: quicksand;
color: rgb(207, 207, 207);

}

.compromissoimg{
    width: 160px;
}

.tituloidvisual {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 30px;
}

.tituloidvisual h1 {
    font-size: 50px;
    color: #FFF;
    font-family: quicksand;
}

.conteudoidvisual {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.cards {
    display: flex;
    justify-content: center;
    width: 1000px;
    
}
.cards h2 {
    color: black;
}
.cards p {
    color: black;
}

.info {
    margin: 10px;
    background-color: #F9D933;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.info h2 {
    text-align: center;
}

.info p {
    text-align: justify;
}
